<%- include('../partials/head') %>

    <form action="/cats/add" method="post">
        <input type="text" name="name">
        <input type="number" name="weight">
        <input type="text" name="color">
        <input type="submit" value="Senden">
    </form>


    <%- include('../partials/foot') %>